body{
    font-family: sans-serif;
    overflow-x: hidden;
}
#menu li>a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
#menu form>button{
    font-size: 18px;
    font-weight: bold;
}
.carousel-inner{
    max-height: 39rem;
}
@media  (max-width: 768px){
#intro{
    width: 90%!important;


}
}