/*===============Propiedades Globales================*/

body {
    font-family: sans-serif;
    overflow-x: hidden;
}
/*===================mios==========================*/
#cerrarCanvas{
   font-size: 20px;
}
#cuadroCierre{
    height: 20px!important;
}
.tiendaicono{
    font-size: 100px!important;
}
.verde{
    background-color: #3db36b;
}
.violeta23{
    background-color: #7b1fa2!important;
}
.textoverde{
    color: #3db36b;;
}
.tiendaiconopro{
    font-size: 60px!important;
}
.iconoup{
    width: 30px;
    height: 30px;
}
.centrado{
    text-align: center;
    justify-content: center;
}
.iconosbolas{
    font-size: 30px;
}
#centrado{
    justify-content: center!important;
}
.cursor{
    cursor: pointer;
}
#tweter{
    height: 200px!important;
}
#alturabarra{
    height: 50px;
}
#carousel{
    margin-top: 50px;
}
#menu1{
    color: white!important;
    font-size: 50px;
}

.anclaredes:active{
    color: white!important;
}
.anclaredes:hover{
    color: white!important;
}
.anclaredes{
    color: white!important;
}
/*===================MENU==========================*/

#menu a, button{
    font-size: 18px !important;
    font-weight: 600;

}

#menu a{
    color:#3f3f3f;

}

/*===================Encabezado==========================*/
.suscribetebtn{
    color: white!important;
}
/*===================color fond0==========================*/
.fondo{
    background-color: #7b1fa2!important;
}
#textoc{
    color:#7b1fa2;
}
#popular{
    background-color: #7b1fa2;
}
#registrate{
    background-color: #7b1fa2;
}
.violeta{
    color:#7b1fa2;
}




/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height:30rem !important;
    width:50%;
}


/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center;
}

.mapa {
    background: url(./images/mapacopia.png);
    width:100%;
    height:500px;
}


.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}


/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
}
#numeros-local div:not(:first-child) {
    padding-left:20px;
}

#numeros-local p{
    margin:0;
}
#intro{
    padding: 0!important;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
}

#seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;

}

#titulo-formulario {
    color: #3f3f3f;
}




/*=========================FOOTER================================*/
.footerverde{
    background-color:#7b1fa2!important;
}
footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro,#intro2 #equipo {
        width:90% !important;
        margin:auto;
    }

    #local {
        flex-wrap: wrap;
        padding-top:30px;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;
    }

}
/*=========================Surface Pro================================*/

@media (max-width:912px){
    .t912{
        display: none!important;
    }
}






/*=========================MEDIA QUERIES PANTALLA SMbotonresp================================*/


@media (max-width:768px) {

    #intro,#intro2, #equipo{
        padding: 0!important;
        width:90% !important;
        margin:auto;
    }
    .t768{
        display: none!important;
    }
    #servicios-fila-1{
        text-align: center;
    }
    .botonresp{
        display: none;
    }


    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    .aualto{
        height: 200px;
    }
    #centrado{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;

    }
    #margenp{
        margin: 0!important;
    }
    #margenp1{
        margin: 0!important;
    }
    #margenp2{
        margin: 0!important;
    }
    #margenp3{
        margin: 0!important;
    }
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
    .ocultocel{
        display: none;
    }
}
@media (max-width: 280px) {
    #carousel{
        width: 315px;
    }
    #targetaThumnail{
       margin-left: 40px!important;
        width: 50px!important;
    }
    .barrabuscadora{
        width: 315px;
    }

}